<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tiện ích phòng | HotelKing</title>
    <div th:insert="~{components/taglib :: taglib}"></div>
    <link rel="stylesheet" href="/css/admin/style.css">
</head>
<body>
<div th:insert="~{admin/components/header :: header}"></div>
<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-md-2 ">
            <div th:insert="~{admin/components/sidebar :: sidebar}"></div>
        </div>
        <div class="col-md-10 p-4">
            <div th:if="${errorMessages != null}" class="alert alert-danger" role="alert">
                <span th:text="${errorMessages}"></span>
            </div>
            <div th:if="${message != null}" class="alert alert-success" role="alert">
                <span th:text="${message}"></span>
            </div>
            <div class="mt-5 mb-2">
                <h4>Tiện ích phòng</h4>
                <div class="d-flex align-items-center mb-4">
                    <button type="button" class="btn btn-dark rounded-0 btn-sm mr-3" data-bs-toggle="modal"
                            data-bs-target="#createModal">
                        Thêm mới
                    </button>
                    <form th:action="@{/admin/category/search}"
                          class="form-inline d-flex align-items-center my-2 my-lg-0 flex-grow-1" method="get">
                        <input name="keyword" class="form-control form-control-sm mr-sm-2 flex-grow-1 me-2"
                               type="search" placeholder="" aria-label="Search">
                        <button class="btn btn-dark rounded-0 btn-sm my-2 my-sm-0" type="submit">
                            <i class="fa fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="row ">
                    <table th:if="${rooms != null}" class="table">
                        <thead class="thead-light">
                        <tr>
                            <th scope="col">STT</th>
                            <th scope="col">Tên</th>
                            <th scope="col">Mô tả</th>
                            <th scope="col"></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="faci, iterStat : ${facilities}">
                            <td th:text="${faci.id}"></td>
                            <td th:text="${faci.name}"></td>
                            <td th:text="${faci.description}"></td>
                            <td>
                                <!-- Modal update -->
                                <a class="btn btn-primary btn-sm"
                                   data-bs-toggle="modal" th:data-bs-target="'#updateModal' + ${iterStat.index}">
                                    <i class="ti ti-edit"> </i>
                                </a>
                                <div class="modal fade" th:id="'updateModal' + ${iterStat.index}" tabindex="-1"
                                     aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content modal-lg">
                                            <div class="modal-header">
                                                <h5 class="modal-title fs-5"
                                                    th:text="'Cập nhật ' + ${faci.name}"></h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <form th:action="@{/admin/facility-management/save}" method="post">
                                                    <div class="mb-3" style="display: none;">
                                                        <input name="id" th:value="${faci.id}" type="text"
                                                               class="form-control">
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-6">
                                                            <div class="mb-3">
                                                                <label class="form-label">Tên</label>
                                                                <input name="name" th:value="${faci.name}" type="text"
                                                                       class="form-control">
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <div class="mb-3">
                                                                <label class="form-label">Mô tả</label>
                                                                <textarea name="description" type="text"
                                                                          class="form-control">[[${faci.description}]]</textarea>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button type="submit" class="btn btn-primary w-100">Cập nhật
                                                    </button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- Modal delete -->
                                <a class="btn btn-danger btn-sm"
                                   data-bs-toggle="modal"
                                   th:data-bs-target="'#confirmDeleteModal' + ${iterStat.index}">
                                    <i class="ti ti-trash"></i>
                                </a>
                                <div class="modal fade" th:id="'confirmDeleteModal' + ${iterStat.index}"
                                     tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="confirmDeleteModalLabel">Xác nhận xóa</h5>
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Bạn có chắc chắn muốn xóa item này không?
                                            </div>
                                            <div class="modal-footer">
                                                <form th:action="@{/admin/facility-management/{id}(id=${faci.id})}"
                                                      method="get">
                                                    <input name="id" th:value="${faci.id}" type="hidden">
                                                    <button type="button" class="btn btn-secondary"
                                                            data-bs-dismiss="modal">Hủy
                                                    </button>
                                                    <button type="submit" class="btn btn-danger">Xóa</button>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <!-- Modal create -->
                <div class="modal fade" id="createModal" tabindex="-1" aria-labelledby="createModalLabel"
                     aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content modal-lg">
                            <div class="modal-header">
                                <h5 class="modal-title fs-5" id="createModalLabel">Thêm tiện ích</h5>
                                <button type="button" class="close" data-dismiss="modal"
                                        aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:action="@{/admin/facility-management/save}" th:object="${facility}"
                                      method="post">
                                    <div class="mb-3">
                                        <label for="name" class="form-label">Tên</label>
                                        <input name="name" type="text" class="form-control" id="name">
                                    </div>
                                    <div class="mb-3">
                                        <label for="description" class="form-label">Mô tả</label>
                                        <textarea name="description" class="form-control" id="description"> </textarea>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100">Thêm tiện ích</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
