<html xmlns:th="http://www.thymeleaf.org">

<div th:fragment="footer">
    <!-- Footer Section Begin -->
    <footer class="footer-section">
        <div class="container">
            <div class="footer-text">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="ft-about">
                            <div class="logo">
                                <a href="#" class="text-decoration-none">
                                    <h3 class="text-white"> HotelKing</h3>
                                </a>
                            </div>
                            <p>Đặt phòng ngay, hưởng ngay giá tốt!</p>

                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-contact">
                            <h6>Liên hệ với chúng tôi</h6>
                            <ul>
                                <li>+84 31345 67890</li>
                                <li>hotelking@gmail.com</li>
                                <li>1024 Quang Trung - P.10 - Q.Gò Vấp - TP HCM</li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="ft-newslatter">
                            <h6>Cập nhật thông tin mới nhất từ chúng tôi</h6>
                            <p>Những mã giảm giá và các phòng ưu đãi dành riêng cho bạn</p>
                            <form action="#" class="fn-form">
                                <input type="text" placeholder="Email">
                                <button type="submit"><i class="fa fa-send"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-option">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <ul>
                            <li><a href="#">Liên hệ</a></li>
                            <li><a href="#">Điều khoản sử dụng</a></li>
                            <li><a href="#">Quyền riêng tư</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                    <div class="col-lg-5">
                        <div class="co-text">
                            <p>
                                Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                                All rights reserved | Booking with love <i class="fa fa-heart"
                                                                                    aria-hidden="true"></i> by <a
                                        href="#" target="_blank">HotelKing</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer Section End -->
</div>