<html xmlns:th="http://www.thymeleaf.org">
<body>
<aside class="sidebar" id="sidebar" th:fragment="sidebar">
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="/admin">Trang chủ</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/user-management">Người dùng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/customer-management">Khách hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/order-management">Đơn hàng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/room-management">Phòng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/room-category-management">Loại phòng</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/admin/facility-management">Tiện ích phòng</a>
        </li>
    </ul>
</aside>
</body>
</html>
